body {
    background-color: darkgray;
    overflow: hidden;
}
#student_form_container {
    background-color:white;
    width: 450px;
    border-radius: 6px;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
}
h1{
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
}
#submit_button{
    width:100%;
    color:white;
    background-color:black;
    padding:10px;
    font-size: large;
    border-radius: 10px;
}
form{
    margin-top: 10px;
}
label {
    font-size: 16px;
    font-weight: bold;
}
